@@font-face {
  font-family: 'abc';
  font-style: normal;
  font-weight: normal;
  src: local('abc') url("fonts/abc.otf")format("opentype");

}



body{


      font-family: "abc",serif;
      /*
      src: url('../static/fonts/viasoabc.otf');
      src: local('../static/fonts/abc.otf')*/



      font-weight: 400;
      font-style: normal;
      font-size: 20px;

      line-height: 1.5;
      color: black;
      background-color: #0000;

}





a.button {

}


.navt img {
  vertical-align: middle;
}

.navbar {
  position: relative;
}
quote{
  margin-left: 200px;

    font-family: "Courier New", Courier, monospace;



}








.navbar-inverse .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom,#bad5ce 0,#bad5ce 100%);
  box-shadow: inset 0 3px 9px rgba(3, 2, 2, 0.45)
}
.container-fluid {
  background-color: #bad5ce;
}
.navbar-inverse {
    background-color: #eaf3f1 ;

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #eaf3f1 ;
    background-color: #fff ;
}
.navbar-inverse .navbar-nav > li > a {
    color: #eaf3f1 ;
}
.navbar-inverse {
    border-color: #fff ;
}
.navbar-inverse .navbar-brand {
    color: #eaf3f1 ;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #e8e8e8  ;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #fff ;
    color: #e8e8e8 ;
}

.homepage{
  background-image: url("ba.jpg");
  background-size: 100% 100%;
  height: 400px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.homepage h1{
  color:green;
}

.immoInDeKijker{
  color:black;
  background-color:  #d9d9d9;

}
.immoInDeKijker h2{
  font-size: 40px;
  font-style: bold;
}

<<<<<<< HEAD
/*img.logo{
    width:60px; /* you can use % */
  /*  height: auto;
}*/
=======
img.logo{
    width:100px; /* you can use % */
    height: auto;
}
>>>>>>> origin/master

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
}
